body{
    margin: 0 auto;

}
nav{
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color: #80b3b9;
    padding:25px;
    position:sticky;
    top:0;
    z-index:100;
    box-shadow: 5px 6px 15px rgb(32, 41, 75)
}

nav ul{
    list-style-type:none;
    display:flex;
    text-decoration:none;
    gap:50px;
    font-size:25px;
    color: 30253E;
    font-family: "Turret Road", sans-serif;
}

nav ul a{
    list-style-type:none;
    display:flex;
    text-decoration:none;
    color:black;

}

.home{
    padding-bottom: 50px;
    background-image: url('https://t3.ftcdn.net/jpg/06/35/11/84/240_F_635118476_NZJ2Ux7vyYEksLS267mQVETK4U16Qv3B.jpg');
    height:500px;
    max-width:100%;
    max-height:100%;
    background-size:cover;
    /* center headings horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: left;     /* horizontal */
    color:#30253E;
    font-size:35px;
    background-repeat:no-repeat;
    position:relative;
    margin:0 auto;
    background-position:top left;
    padding-left:45px;
    font-family: "BBH Sans Bogle", sans-serif;
}

/* Prevent gap caused by heading top-margin collapsing out of the .home container */
.home h1,
.home h2 {
    margin-top: 0;
}

.topics{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    justify-content:center;
    gap:50px;
    font-size:50px;
    padding-top:20px;
    padding-bottom:20px;
    background: rgb(23, 49, 84);
    margin: 0 auto;
    color:#28abcb;

    
}


.units{
    display:flex;
    /* layout horizontally and allow items to wrap onto multiple rows */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; /* space between boxes */
    justify-content: center; /* center the row(s) */
    align-items: flex-start; /* align items to top of each row */
    width: 100%;
    position:relative;
    font-size:35px;
    color:#4d588e;
    padding:0 auto;
    background: rgba(109, 193, 210, 0.35);
    height:550px;
    
    
}

.box{
    max-width:100%;
    flex: 1 1 350px;
    height:450px;
    background-color:#170e3a;
    position:relative;
    /* overflow:hidden; */
    border-radius:5px;
    box-shadow: 5px 6px 15px rgb(35, 43, 71);
    padding: 0 auto;
    margin:5px;
    /* allow boxes to shrink/wrap nicely on narrower screens */
    flex: 0 1 350px;
    margin-top:40px;
    margin-bottom:40px;
}

.box h1{
    color:#ffffff;
    font-size:40px;
    text-align:center;
    padding-top:20px;
    font-family: "BBH Sans Bogle", sans-serif;
}

.homeimg{
    display:block;
    width:100%;
    height:100%;
    object-fit:contain; 
    object-position:center;
    margin:0 auto;
}

.box .caption{
    position:absolute;
    left:0;
    right:0;
    top:0;
    padding:20px;
    text-align:center;
    background: rgba(0, 0, 0, 0.35);
    color:rgb(223, 233, 249);
    margin:0
}

.box p{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
    margin:0;
    text-align:center;
    background: rgba(0, 0, 0, 0.35);
    color:rgb(223, 233, 249)
}

#workpls{
    overflow:hidden;
    display:flex;
}

#unit1home{
    background-image: url('https://www.atousante.com/en/wp-content/uploads/2018/02/V3-Chimie.jpg')
}

.resources{
    max-width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    background-color:#170e3a;
}

.topic{
    margin:30px;
    padding: 45px;
    display:flex;
    /* flex-direction:column; */
    background-color: #28abcb;
    margin-top:50px;
    border-radius:5px;
    box-shadow: 5px 6px 15px rgb(88, 110, 187);
    /* height:500px; */
    gap: 30px;
}

.word{
    font-size:30px;
    color:#170e3a;
    font-family: "BBH Sans Bogle", sans-serif;
    
}

.paragraph{
    /* display:block; */
    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    max-width:50%;
    font-size:19px;
    color:#170e3a;
    font-family: "Turret Road", sans-serif;
    max-width:65%;
    justify-content:flex-start;
    align-items:center;
    /* gap:20px; */
}

.topic img{
    max-width:550px;
    /* max-width:100%; */
    height:auto;
    width:auto;
    max-height:100%;
    object-fit:cover;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-left:auto;
    border: 5px solid #1f87a1;
    /* flex-grow: 100%; */
    flex: 1 1 300px;
    position:sticky;
}

.courseinfo{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:25px;
    color:#1f87a1;
    padding:50px;
    background: #170e3a;
    text-align:center;
    font-family: "Turret Road", sans-serif;
}

#coursehome{
    background-image: url('https://hthschemistry.wordpress.com/wp-content/uploads/2018/06/ap-chem-logo.gif');
    object-fit: contain;
    max-width:auto;
}

.wow{
    max-width:100%;
    height:250px;
    background-color:#161c24;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}

.paragraph ul{
    align-items:center;
}
.paragraph li{
    align-items: center;
}
.paragraph p{
    align-items: center;
}
